[Unit]
Description=USTC Auto Sign
After=network.target
Wants=network.target

[Service]
Restart=on-failure
RestartSec=5
ExecStartPre=conda activate USTC_autosign
ExecStart=/usr/bin/python3 -u /root/USTC_autosign/AutoSign.py

[Install]
WantedBy=multi-user.target