[Unit]
Description=USTC Auto Sign
After=network.target
Wants=network.target

[Service]
Restart=on-failure
RestartSec=5
ExecStart=/root/miniconda3/envs/USTC_autosign/bin/python3 -u /root/USTC_autosign/AutoSign.py

[Install]
WantedBy=multi-user.target